<p><%= @game.player.name %> you chose <%= @game.player.move %>, Bobby the Bot chose <%= @game.bot.move%>!</p>
<p><%= @game.result %></p>

<form action="/play">
  <input type="submit" name="playe_again" value="Play again" />
</form>

